@import "./variables.scss";
@import "@fontsource/montserrat/cyrillic.css";

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--dark);
  color: var(--white);
  font-size: var(--font-size);
  /* Use the variables wherever needed */
}
